<div class = "details-container">
<div class="container py-5" id="pets-details">
  <div class="row">
    <div class="col-12 col-md-7 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">

        <h1>Companion Details</h1>
         <div class= "pets_image">
        <% @pet.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
          </div>
        <div>
          <strong>Name:</strong>
          <%= @pet.name.capitalize %>
        </div>
        <div>
          <strong>Species:</strong>
          <%= @pet.species.capitalize %>
        </div>
        <div>
          <strong>Breed:</strong>
          <%= @pet.breed %>
          </div>
        <div>
          <strong>Description:</strong>
          <%= @pet.description %>
        </div>
        <div>
          <strong>Owner:</strong>
          <%= @pet.user.first_name %> <%= @pet.user.last_name %>
        </div>
        <% end %>
        <p>

        <h3>Book me!</h3>
          <%= simple_form_for [@pet, @booking] do |f| %>
            <%= f.input :start_date, as: :string,
              input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :end_date, as: :string,
            input_html: { data: { controller: "datepicker" } } %>
            <%= f.submit class: 'btn btn-ghost btn-green' %>
            <%= link_to 'See bookings', pet_bookings_path(@pet), class: "btn btn-ghost" %>
            <%= link_to 'Back', pets_path, class: "btn btn-ghost" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
