<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">

        <h1>Pet Details</h1>
        <div>
          <strong>Name:</strong>
          <%= @pet.name %>
        </div>
        <div>
          <strong>Species:</strong>
          <%= @pet.species %>
        </div>
        <div>
          <strong>Breed:</strong>
          <%= @pet.breed %>
          </div>
        <div>
          <strong>Description:</strong>
          <%= @pet.description %>
        </div>
        <div>
          <strong>Owner:</strong>
          <%= @pet.user.first_name %> <%= @pet.user.last_name %>
        </div>
        <% @pet.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 500, width: 400, crop: :fill %>
        <% end %>

        <%= link_to 'Book me!', new_pet_booking_path(@pet) %>
        <%= link_to 'See bookings', pet_bookings_path(@pet) %>
        <%= link_to 'Back', pets_path %>
      </div>
    </div>
  </div>
</div>

<%#= render 'bookings/form', pet: @pet %>
