<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">

        <h2>Companion Details</h2>

          <div>
            <strong>Name:</strong>
              <%= @pet.name %>
                </div>
                <div>
                <strong>Species:</strong>
                  <%= @pet.species %>
                  </div>
<%# <div>
  <strong>Age:</strong>
  <%= @pet.age %>
                    <div>
                    <strong>Breed:</strong>
                  <%= @pet.breed %>
                </div>
            <div>
          <strong>Description:</strong>
        <%= @pet.description %>
      </div>
      <% @pet.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
      <% end %>
  </div>
  <button class="my-button"><%= link_to 'Back', pets_path %></button>
</div>
</div>
</div>


<%#= render 'bookings/form', pet: @pet %>
