<div class="container mx-auto mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <h2>Here are the bookings for <%= @pet.name %></h2>
    <div><%= link_to "Back", pet_path(@pet), class: "btn btn-ghost" %></div>
  </div>
  <div class="row justify-content-md-center">
    <div class="cards-layout">
      <% @pet.bookings.each do |booking| %>
        <div class="col-md-12 my-3">
          <div class="booking-card" style="padding: 20px">
              <div class="d-flex w-100 align-self-baseline justify-content-end">
                <% if booking.status == "declined" %>
                  <span class="c-pill c-pill--danger">Declined</span>
                <% elsif booking.status == "accepted" %>
                  <span class="c-pill c-pill--success">Accepted</span>
                <% else %>
                  <span class="c-pill c-pill--warning">Pending</span>
                <% end %>
              </div>
            <div class="d-flex justify-content-center mt-3">
              <div class="d-flex w-100 justify-content-center">
                <div class="d-flex">
                  <%= cl_image_tag(booking.pet.photos[0].key, height: 200, width: 200, crop: :fill, class: "rounded-circle ratio ratio-1x1") if booking.pet.photos[0].key.present? %>
                  <h2 class="mx-2 align-self-center"><i class="fa-solid fa-link"></i></h2>
                  <%= cl_image_tag(booking.user.photo.key, height: 200, width: 200, crop: :fill, class: "rounded-circle ratio ratio-1x1") if booking.user.photo.key.present? %>
                </div>
              </div>
            </div>
            <div class="booking-card-info">
              <div class="d-flex w-100 justify-content-center">
                <div class="">
                  <div class="d-flex justify-content-between">
                    <h3>Who: <%= booking.user.first_name %> <%= booking.user.last_name %></h3>
                    <h3>Price for <span style="color:#b0beb6"><%= booking.total_days %></span> day(s): <span style="color:#b0beb6"><%= booking.total_price %>€</span></h3>
                  </div>
                  <div class="d-flex justify-content-between" style="width: 40vw">
                    <h3>From: <%= booking.start_date&.strftime("%e.%m.%Y") %></h3>
                    <h3>To: <%= booking.end_date&.strftime("%e.%m.%Y") %></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-around">
              <div class="">
                <% if booking.status == "pending" %>
                  <%= link_to 'Accept', booking_path(booking, status: "accepted"), data: { turbo_method: :patch }, class: "btn btn-ghost btn-green" %>
                  <%= link_to 'Decline', booking_path(booking, status: "declined"), data: { turbo_method: :patch }, class: "btn btn-ghost btn-red" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
