<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new booking for <%= @pet.name %></h3>
        <p>Owner: <%= @pet.user.first_name %> <%= @pet.user.last_name %></p>
        <%= simple_form_for [@pet, @booking] do |f| %>
          <%= f.input :start_date, label: "From" %>
          <%= f.input :end_date, label: "To" %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
