<!DOCTYPE html>
<html>
  <head>
    <title>HelPet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <div class="fs-2">HelPet</div>
    </a>
    <form class="form-inline">
      <button class="my-button"><%= link_to "Log in", new_user_session_path %></button>
      <button class="my-button"><%= link_to "Sign up", new_user_registration_path %></button>
    </form>
  </nav>

    <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
  </body>
</html>
